.app {
  min-height: 100vh;
  background: var(--color-bg);
  color: var(--color-text);
}

.content {
  margin-left: 25vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

@media (max-width: 900px) {
  .content {
    margin-left: 0;
  }
}
